---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <button type="button" class="filter-button active-filter" value="dev-log">dev-log</button>
  <button type="button" class="filter-button active-filter" value="game-dev">game-dev</button>
  <button type="button" class="filter-button active-filter" value="graphics">graphics</button>
  <button type="button" class="filter-button active-filter" value="tutorial">tutorial</button>
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Logs" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="log {{ post.tags | join: ' ' }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
<script src="/assets/scripts/log-filter.js"></script>